<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header %>
    <title>Page Not found</title>
</head>
<body>
   
    <% include partials/navigation %>

    <div class="container p-4">
        <div class="col-md-4 offset-md-4">
            <div class="card card-body">
                <h1 class="display-4">Page Not Found</h1>
            </div>
        </div>
    </div>

</body>
</html>