<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express GuestBook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body class="container">
    <h1>
      <a href="/" class="title" style="text-decoration:none;">Express GuestBook</a>
      <a href="/new-entry" class="btn btn-primary pull-right">Write in the GuestBook</a>
    </h1>
    <hr>
